@import "../../assets/scss/color_variables";
@import "../../assets/scss/screen_sizes";
.StarsContainer {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  .span {
    color: $orange;
  }
  h4 {
    color: $purple;
  }
  .contnatStars {
    display: flex;
    gap: 10px;
    small {
      font-weight: bold;
    }
    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
  .spanDelete {
    text-decoration: line-through;
  }
  .spanDiscount {
    background-color: $yellow;
    padding: 2px 5px 2px 5px;
    color: $black;
    font-size: 10px;
    font-weight: bold;
  }
}
