@import "../../assets/scss/color_variables";
.searchContainer {
  position: relative;
  width: 300px;
}
.searchInput {
  width: 89%;
  border-radius: 20px;
  border: 1px solid $lightGray;
  padding: 10px;
}
.searchInput::placeholder {
  font-weight: bold;
  color: $black;
  padding-left: 20px;
  font-size: 15px;
}
.searchIcon {
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 55%;
  transform: translateY(-50%);
}
